body{
    background-color: #f5f5f5;
}
div{
    border-top:1px solid gray;
    width: 930px;
    padding:50px;
    text-align: center;    
    margin: 10px auto;
    background-color:#f5f5f5;
}
h1{
    font-family: Tahoma;
    font-size: 30px;
}
img{   
    width: 190px;
}
h2{
    font-family: Tahoma;
    font-size: 24px;
    
}   
p{
    text-align:center;
    font-family: Tahoma;
    line-height: 28px;
    font-size: 14px;
  
  
}
h3{
    padding-top:20px ;
    font-family: Tahoma;
    font-size: 20px;
}
a{
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    background-color:rgb(87, 190, 87);
    color: #ffffff;
    padding: 5px;

}
span{
    font-weight: bold;
}
#negrito{
    font-weight: bold;
}
